*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

header, .desc{
    background-color: #1f2937;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 0% 10%;
}

nav{
    /* border: 1px solid red; */
    width: 400px;
    display: flex;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: white;
}

.desc{
    padding: 100px 10%;
    display: flex;
    justify-content: space-between;
}

.desc-1, .desc-2{
    width: 50%;
    border: 1px solid rebeccapurple;
}

.desc-2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec-2{
    text-align: center;
    padding-top: 50px;
}

.images-sec2{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px 0;
}

.images-sec2 div{
    border: 1px solid red;
    width: 120px;
    height: 120px;
}

.sec-3{
    background-color: #e5e7e8;
    font-size: 36px;
    text-align: center;
    font-weight: 300;
    color: #1f2937;
    padding: 100px 0;
}

.sec-4-container{
    width: 70%;
    height: 100px;
    background-color: #3882F6;
    color: white;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
}

footer{
    background-color: #1f2937;
    color: white;
    text-align: center;
    padding: 20px 0;
}